type mtk_agpsd, domain;
type mtk_agpsd_exec, exec_type, file_type;

init_daemon_domain(mtk_agpsd)
allow mtk_agpsd mtk_agpsd_exec:file { read open getattr execute execute_no_trans};
